.form-control:focus{
    border-color: #d47603 !important;
    box-shadow: 0 0 0 0.1rem #d47603 !important;
}

.text-warning {
  color:#ff9200!important;
}

a.nav-link.text-warning:hover{
  color:#E8680C!important;
}

.extra-padding {
  padding: 0 15%;
}

.text-dark {
  color: #2d2d39!important;
}

.text-secondary {
  color: #6c757d!important;
}

.search-class{
  background-color: #ededfd;
}

.singleClass__subtitle{
  color: #51546e;
}

.avatar {
  border-radius: 50%;
  border: 2px solid #E8680C;
}

.avatar--md {
  height: 5rem;
  width: 5rem;
}


.skill__back {
  background-color:#fcebd6;
}
